.email {
  color: var(--color-dark-100);
}

.trigger {
  gap: 14px;
  color: var(--color-light-100);
}

.name {
  text-decoration: underline dashed var(--color-light-100) 1px;
  text-underline-offset: 6px;
}

.infoItem {
  margin-left: 5px;
}

.profile {
  display: flex;
  gap: 5px;
  align-items: center;

  width: 100%;
  padding: 8px 40px 8px 13px;

  color: var(--color-light-100);
  text-align: start;
  white-space: nowrap;
}
