.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  //max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 35px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 35px;
}

.input {
  margin-bottom: -24px;
}

.tableContainer {
  width: 100%;
}

.pagination {
  margin-top: 25px;
}
.iconButtons {
  display: flex;
}
.iconButton {
  padding: 5px;
}
