.learnCardBox {
  margin-top: 50px;
}

.learnRoot {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  width: 100%;
}

.question {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.text {
  color: var(--color-dark-100);
}

.rate {
  padding-left: 10px;
}

.radioBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
