.root {
  user-select: none;

  //border: 1px solid red;
}

.title {
  margin-bottom: 50px;
}

.subtitle {
  margin: 5px 0 65px;
  color: var(--color-dark-100);
}

.subtitle2 {
  margin: 7px 0 20px;
  color: var(--color-light-900);
}

.link {
  line-height: 0.7;
  color: var(--color-accent-500);
}
