.root {
  user-select: none;

  //border: 1px solid red;
}

.title {
  margin-bottom: 50px;
}

.subtitle {
  margin: 5px 0 65px;
  color: var(--color-dark-100);
}

.subtitle2 {
  margin: 20px 0 7px;
  color: var(--color-light-900);
}

.root .link {
  padding: 0;
  color: var(--color-accent-500);
  text-decoration: underline 1px;
}
