.root {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  max-width: 1100px;
  margin: 0 auto 50px;
  padding: 0 35px;

  //border: 1px solid red;
}

.backBtn {
  padding: 0 45px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropBoxTitle {
  display: flex;
  gap: 5px;
  align-items: center;
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  padding-top: 50px;

  .text {
    color: var(--color-dark-100);
  }
}

//.filters {
//  display: flex;
//  gap: 40px;
//  align-items: flex-end;
//  justify-content: space-between;
//
//  margin-bottom: 35px;
//}
//
//.input {
//  margin-bottom: -24px;
//}
//
//.tableContainer {
//  width: 100%;
//}
//
//.pagination {
//  margin-top: 25px;
//}
//
//.iconButtons {
//  display: flex;
//}
//
.cellImg {
  display: flex;
  gap: 10px;
  align-items: center;
}

//
//.iconButton {
//  padding: 5px;
//}
