.root {
  width: 420px;
  height: 420px;
  gap: 20px;
}

.nickName {
  cursor: pointer;
  display: flex;
  span {
    margin: 0 0 0 5px;
  }
  svg {
    align-self: center;
  }
}

.AvatarUploader {
  display: flex;
  position: relative;
  justify-content: flex-end;
  cursor: pointer;

  .pen {
    position: absolute;
    align-self: flex-end;
    justify-self: flex-end;
    background: var(--color-accent-500);
    border-radius: 50%;
    padding: 3px;
    svg {
      align-self: center;
    }
  }
}
