.root {
  gap: 20px;
}

.AvatarUploader {
  position: relative;
  display: flex;
  justify-content: flex-end;

  .pen {
    cursor: pointer;

    position: absolute;
    right: 0;
    bottom: 0;

    align-self: center;

    width: 24px;
    height: 24px;
    padding: 3px;

    background-color: var(--color-dark-300);
    border-radius: 4px;

    &:hover {
      background-color: var(--color-dark-100);
    }

    &:active {
      background-color: var(--color-dark-500);
    }
  }
}

.nickName {
  display: flex;
  justify-content: center;

  svg {
    cursor: pointer;
    align-self: center;
    margin: 0 0 0 5px;
  }
}

.email {
  color: var(--color-dark-100);
}
